/* myCSS */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 img {
   width: 100%;
 }

/* General */
.wrapper_general {
  max-width: 1200px;
  margin: 0 auto;
}

.container_flex {
  display: flex;
}

/* Utility */
.current span {
  color: #000;
}

.menu.scroll.visible {
  display: block;
}

/* HEADER */
/* NAV */
.wrapper_nav {
  height: 40px;
  width: 100%;
  margin:40px 0;
}

nav > .container_flex {
  justify-content: space-between;
}

/* menu */
.menu {
  list-style-type: none;
}

.menu a {
  font-family: 'Roboto', sans-serif;
  color: #A0A6AD;
  font-size: 14px;
  text-decoration: none;
}

.menu li span:hover {
  color: #000;
}

/* menu inline */
.menu.inline {
  line-height: 40px;
}

.menu.inline > li {
  display: inline-block;
  margin-right: 30px;
}

.menu.inline > li:last-child {
  margin: 0;
}

.menu .with_scroll {
  position: relative;
}

/* menu scroll */
.menu.scroll {
  padding: 0 20px;
  position: absolute;
  top: 100%;
  left: -20px;
  text-transform: capitalize;
  white-space: nowrap;
  line-height: normal;
  display: none;
}

.menu.scroll li {
  margin: 15px 0;
}

.menu.scroll .sup_text {
  font-size: 10px;
  color: #ff0066;
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
  top: -10px;
  left: 2px;
}

/* Left - NAV */
.left_nav {
  text-transform: uppercase;
}

.logo {
  width: 100px;
}

.logo img {
  vertical-align: sub;
}

/* rigth - Nav */
.right_nav {
  text-transform: capitalize;
}

.right_nav .lang {
  text-transform: uppercase;
}

.right_nav a > i {
  color: #808080;
  font-size: 8px;
}

.right_nav .push_link {
  background-color: #ff0066;
  border-radius: 40px;
  padding: 0 20px;
}

.push_link a {
  color: #fff;
}

.push_link a:hover span {
  color: #fff;
}
