/* myCSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}

/* HEADER */
/* NAV */
nav > * {
  content: "";
  display: table;
  clear: both;
  display: inline-block;
}

.menu > li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.menu > li:last-child {
  margin: 0;
}

.menu a > span {
  color: #808080;
  font-size: 14px;
}

.menu a > i {
  color: #808080;
  font-size: 8px;
}

.menu a:hover > span {
  color: #000;
}

/* Left - NAV */
.left_nav {
  text-transform: uppercase;
}

.logo img{
  height: 25px;
}

/* rigth - Nav */
.right_nav {
  float: right;
  text-transform: capitalize;
}

.right_nav .lang {
  text-transform: uppercase;
}

.right_nav .push_link {
  background-color: #ff0066;
  border-radius: 40px;
  padding: 10px 20px;
}

.push_link a > span {
  color: #fff;
}

.push_link a:hover > span {
  color: #fff;
}
