/* myCSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}

/* HEADER */
/* NAV */
nav > * {
  content: "";
  display: table;
  clear: both;
  display: inline-block;
}

/* menu */
.menu li span {
  color: #808080;
  font-size: 14px;
  cursor: pointer;
}

.menu li span:hover {
  color: #000;
}

/* menu inline */
.menu.inline > li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  position: relative;
}

.menu.inline > li:last-child {
  margin: 0;
}

/* menu scroll */
.scroll {
  display: none;
}

.menu.scroll {
  padding: 20px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.menu.scroll > li {
  text-transform: capitalize;
  padding-top: 20px;
}

.menu.scroll > li:first-child {
  padding-top: 0;
}

/* utility class */
.visible {
  display: block;
}

/* conti menu-scroll */
.menu.scroll.conti{
  width: 300%;
}

/* azienda menu-scroll */
.menu.scroll.azienda{
  width: 300%;
}

/* aiuto menu-scroll */
.menu.scroll.aiuto{
  width: 500%;
}

/* Left - NAV */
.left_nav {
  text-transform: uppercase;
}

.logo img{
  height: 25px;
}

/* rigth - Nav */
.right_nav {
  float: right;
  text-transform: capitalize;
}

.right_nav .lang {
  text-transform: uppercase;
}

.right_nav a > i {
  color: #808080;
  font-size: 8px;
}

.right_nav .push_link {
  background-color: #ff0066;
  border-radius: 40px;
  padding: 10px 20px;
}

.push_link a > span {
  color: #fff;
}

.push_link a:hover > span {
  color: #fff;
}
